<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>About Us</h2>
      <p>Welcome to Dev Match. We are a community of developers, entrepreneurs, and investors who are interesed in meeting one another and sharing ideas.</p>
    </div>
  </div>
</div>